::-webkit-scrollbar {
    display: none;
}

/*Header*/
header{
    background: #151515;
    position: relative;
    color: white;
    height: 60px;
    width: 100vw;
}

/*Header Text*/
body > header > a > h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 800;
    display: inline-block;
    position: relative;
    margin: 0;
    left: 60px;
    padding-top: 14px;
    color: white;
}

/*Navigation Bar*/
body > header > nav {
    position: absolute;
    right: 60px;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

header > nav > ul {
    margin: 0;
    padding-top: 14px;
    list-style: none;
}

header > nav > ul > li {
    display: inline-block;
    padding: 10px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

/*Home Section Styling*/
main > section:first-child {
    background-color: #151515;
    color: white;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
}

main > section:first-child > h1 {
    font-weight: 800;
    display: flex;
    margin: 0;
    justify-content: center;
    margin: 0;
}

main > section:first-child > h4 {
    display: flex;
    justify-content: center;
    margin: 0;
}

main > section:first-child > div {
    display: flex;
    justify-content: center;
}

main > section:first-child > div:nth-child(4) > button:nth-child(1) {
    border: none;
    padding: 8px;
}

main > section:first-child > div:nth-child(4) > button:nth-child(2) {
    border: none;
    padding: 8px;
    margin-left: 10px;
}
