::-webkit-scrollbar {
    display: none;
}

/*Header*/
header{
    background: #151515;
    position: relative;
    color: white;
    height: 70px;
    width: 100vw;
}

/*Header Text*/
body > header > a > h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 800;
    display: inline-block;
    position: relative;
    margin: 0;
    left: 60px;
    padding-top: 14px;
    color: white;
}

/*Navigation Bar*/
body > header > nav {
    position: absolute;
    right: 60px;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

header > nav > ul {
    margin: 0;
    padding-top: 14px;
    list-style: none;
}

header > nav > ul > li {
    display: inline-block;
    padding: 10px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

/*Home Section Styling*/
main > section:first-child {
    background-color: #151515;
    color: white;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
}

main > section:first-child > h1 {
    font-weight: 800;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0;
    font-size: 56px;
    padding-top: 140px;
}

main > section:first-child > h4:nth-child(2) {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 38px;
    font-weight: 600;
    font-size: 22px;
}

main > section:first-child > h4:nth-child(3) {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 2px;
    font-weight: 600;
    font-size: 22px;
}

main > section:first-child > div:nth-child(4) {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    position: relative;
    z-index: 1;
}

main > section:first-child > div:nth-child(5) {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 60px;
    z-index: 1;
}

main > section:first-child > div:nth-child(4) > button:nth-child(1) {
    border: none;
    padding: 8px;
    width: 190px;
    height: 42px;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #6600CE;
    color: white;
}

main > section:first-child > div:nth-child(4) > button:nth-child(2) {
    padding: 8px;
    margin-left: 18px;
    width: 190px;
    height: 42px;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: #151515;
    border: 2px solid #6600CE;
}

main > section:first-child > div:nth-child(5) > a > img{
    width: 43px;
    padding-left: 28px;
    justify-content: center;
}

main > section:first-child > div:nth-child(5) > a:first-child > img {
    padding-left: 0;
}

.foreground-text {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 228px;
    opacity: 0.03;
    margin: -132px 0 0 -45px;
    display: flex;
}