/*Scroll Bar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #0c0c0c;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #313131;
    border-radius: 3px;
}

body {
    background-color: #151515;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.btn-back {
    position: relative;
    display: inline-block;
    color: white;
    width: 180px;
    top: 42px;
    left: 60px;
    height: 50px;
}

.btn-back > img {
    width: 32px;
}

.btn-back > h4 {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    bottom: 47px;
    left: 40px;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.big-projects {
    height: 90vh;
}

.big-projects > h1 {
    color: white;
    position: absolute;
    width: max-content;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
}

.project-grid {
    position: absolute;
    display: grid;
    width: 1130px;
    height: 360px;
    margin: auto;
    left: 0;
    right: 0;
    top: 132px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.big-project-1 {
    position: relative;
    width: 360px;
    height: 360px;
    background-color: #2A2A2A;
    box-shadow: 0 0 18px 3px;
    border-radius: 8px;
}

.folder-icon {
    position: relative;
    width: 32px;
    top: 10px;
    left: 32px;
}

.link-icon {
    position: absolute;
    width: 22px;
    right: 32px;
    top: 38px;
    opacity: 0.5;
}

.github-icon {
    position: absolute;
    width: 22px;
    top: 38px;
    right: 68px;
    opacity: 0.5;
}

.project-link {
    position: relative;
    display: inline-block;
    top: 106px;
    width: 300px;
    left: -5px;
}

.stm-sys {
    color: white;
    font-size: 25px;
    margin: auto;
    transition: 1s ease;
}

.stm-sys:hover {
    color: #a03cff;
    transition: 1s ease;
}

.description {
    position: relative;
    color: white;
    margin: 0;
    left: 32px;
    width: 271px;
    top: 120px;
    font-weight: 600;
}

.languages {
    position: relative;
    display: flex;
    width: 230px;
    justify-content: space-between;
    left: 32px;
    height: 20px;
    font-size: 12px;
    top: 215px;
    letter-spacing: 1px;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.use-lang {
    margin: 0;
}

.folder-icon-2 {
    top: 30px;
}

.project-link-2 {
    left: -5px;
    top: 98px;
}

.project-2-description {
    top: 110px;
}

.project-languages-2{
    top: 236px;
}

.project-languages-3 {
    top: 197px;
}

.assignments > h1 {
    color: white;
    position: absolute;
    width: max-content;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
}

.css-basic {
    color: white;
    position: relative;
    font-weight: 400;
    margin: 0;
    display: inline-block;
    left: 230px;
    top: 154px;
    font-size: 24px;
}

.css-basic-grid {
    position: absolute;
    margin: auto;
    top: 225px;
    left: 0;
    right: 0;
    display: grid;
    width: 1130px;
    height: 165px;
    row-gap: 14px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.case {
    position: relative;
    width: 360px;
    height: 70px;
    background-color: #2A2A2A;
    border-radius: 8px;
    box-shadow: 0 0 18px 3px;
    color: black;
    transition: all 250ms ease;
}

.case:hover {
    border: 2px solid #a03cff;
    transition: all 250ms ease;
}

.case > h4 {
    position: absolute;
    width: max-content;
    left: 65px;
    height: 20px;
    top: 0;
    bottom: 0;
    color: white;
    margin: auto;
    font-weight: 600;
    font-size: 16px;
}

.case > img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 25px;
    width: 22px;
}

.css-transition {
    top: 480px;
    left: 115px;
}

.css-transition-flex {
    position: relative;
    justify-content: space-between;
    display: flex;
    width: 745px;
    height: 70px;
    top: 520px;
    left: 230px;
}

.css-animation {
    top: 604px;
}

.css-animation-grid {
    top: 770px;
}

.assignments {
    height: 155vh;
}

.frameworks {
    position: relative;
    width: 360px;
    height: 70px;
    top: 950px;
}

.frameworks-title {
    left: 64px;
    top: 912px;
}

.js-title {
    top: 814px;
    left: 614px;
}

.js {
    left: 606px;
    top: 852px;
}

.cal {
    top: -70px;
    left: 377px;
}

/*Footer Section*/
footer {
    position: relative;
    background-color: #2A2A2A;
    width: 100%;
    height: 75px;
}

footer > h4:first-child{
    position: absolute;
    display: inline-block;
    font-size: 18px;
    width: max-content;
    height: 25px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 300;
    left: 60px;
    opacity: 0.5;
    letter-spacing: 1px;
}

.footer-icons > a > img {
    width: 32px;
    opacity: 0.5;
}

.footer-icons {
    position: absolute;
    right: 60px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 305px;
    height: 33px;
    display: flex;
    justify-content: space-between;
}
