/*Scroll Bar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #0c0c0c;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #313131;
    border-radius: 3px;
}

body {
    background-color: #151515;
    font-family: 'Open Sans', sans-serif;
}
.btn-back {
    position: relative;
    display: inline-block;
    color: white;
    width: 180px;
    top: 42px;
    left: 60px;
    height: 50px;
    text-decoration: none;
}

.btn-back > img {
    width: 32px;
}

.btn-back > h4 {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    bottom: 47px;
    left: 40px;
}

.big-projects {
    position: relative;
    width: 100%;
}

.big-projects > h1 {
    color: white;
    position: absolute;
    width: max-content;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.project-grid {
    position: absolute;
    display: grid;
    width: 1130px;
    height: 360px;
    margin: auto;
    left: 0;
    right: 0;
    top: 132px;
    grid-template-columns: 3fr;
}

.big-project-1 {

}

.big-project-1 > img {
    width: 32px;
}